.slds-m-around_small {
    margin: 0 auto;
    text-align: center;
}

.slds-m-around_small h2 {
    margin: 20px;
}

.slds-m-around_small lightning-button {
    margin: 10px;
}

.slds-m-around_small lightning-input {
    left:33%;
    width: 33%;
}